
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

.background {
    background: linear-gradient(to bottom, #4400fb, #000000);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background::after {
    content: "";
    background: url('pngtree-beautiful-tree-with-a-purple-moonlit-sky-image_2563173.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 1;
}


.login-box {
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    z-index: 2;
    position: relative;
    color: #fff;
    border: solid .5px rgba(255, 255, 255, 0.233);
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}


.input-group {
    position: relative;
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 15px;
    

}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: solid .5px rgba(255, 255, 255, 0.425);
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    width: -webkit-fill-available;
    background-color: #1e085a00;
    color: #fff;
}

.input-group span{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

}


button {
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(4px);
    border: solid .5px rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ddd;
}


.options {
    display: flex;
    justify-content: space-between;
    color: #ddd;
    font-size: 14px;
    margin-bottom: 15px;
}

.options a {
    color: #ddd;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
    color: #cbc6da;
}
.sign-up{
    color: #ddd;
    text-decoration: none;

}
.sign-up:hover {
    color: #cbc6da;
    text-decoration: underline;
}
